* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: left !important;
    background-color: #eee !important;
    font-family: 'Lato', sans-serif !important;
}

a {
    color: black !important; 
}

i {
    color: darkorange;
}



.collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: black;
}

.nav-link {
    padding: 0 50px !important;
}

/* Nav-bar */
#heading-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 200px;
    top: 35px;
}

#email {
    margin: 10px;
    padding: 5;
    width: 200px;
    position: relative;
    left: 50px;
}

#submit {
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    background-color: #f1c40f;
    border: 0;
    border-radius: 5px;
    position: relative;
    right: 125px;
    top: 50px;
}

#btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}
#btn:hover {
    background-color: orange;
    transition: background-color 1s;
}

/* Features */
#features {
    margin: 60px;
}

.icon {
    padding-right: 27rem !important;
}

.content {
    margin-left: -20rem !important;
}

/* How_It_Works */
#how_it_works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

iframe {
  max-width: 560px;
  width: 100%;
}

/* Pricing */

#pricing {
    margin-top: 65px;
}
#pricing button:hover {
    background-color: orange;
    transition: background-color 1s;
}

/* Footer */
footer {
    text-align: center;
    background-color: #ddd;
}
.footer-text {
    color: black !important;
  margin: 20px 10px;
  cursor: pointer;
}

@media (max-width: 991px) {
     
    .collapse {
        display: flex;
        justify-content: start;
    }

    #heading-text {
        margin-top: 75px;
    }

   
}

@media (max-width: 800px) {
   body {
        text-align: center !important;
    }
     #features .content {
        margin: 20px auto !important;
        text-align: center;
    }
    .collapse {
        display: flex;
        justify-content: center;
    }

    #features .icon {
        display: none !important;
    }
}